#body{
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/blackmamba.png);
	color:#fff;
}

.heading {
	font-family: 'Pangolin', cursive;
	font-size: 3.0em;
}

.box {
	width:150px;
	height:150px;
	border: 5px solid #000;
	border-radius: 25%;
	display: block;
	text-align: center;
}

#green {
	background-color: #0f0;
}

#red {
	background-color: #f00;
}

#yellow {
	background: yellow;
}

#blue {
	background: #00f;
}

#table {
	margin:0px auto;
	padding:0px auto;
	border: 5px solid #000;
	background: #000;
}

#options {
	display: block;
	text-align: center;
}
.count {
	font-family: 'VT323', monospace;
	font-size: 2.0em;
}

.strict-btn {
	margin-top: 20px;
	background-color: #fff;
	color: #000;
	font-family: 'VT323', monospace;

}

.strict-btn-on {
	background: #f00;
}

